@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";

/* Path to the heroui-native lib inside node_modules relative to global.css */
/* Examples:
 *   - If global.css is at project root: ./node_modules/heroui-native/lib
 *   - If global.css is in app/: ../node_modules/heroui-native/lib
 *   - If global.css is in src/styles/: ../../node_modules/heroui-native/lib
 */
@source '../../node_modules/heroui-native/lib';

@source '../screens';
@source '../components';

@import "./theme.css";

:root {
  --font-display:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
  --font-rounded:
    "SF Pro Rounded", "Hiragino Maru Gothic ProN", Meiryo, "MS PGothic",
    sans-serif;
  --font-serif: Georgia, "Times New Roman", serif;
}
